.titlebar {
  display: flex;
  height: 60px;
  padding-left: 10px;
  background: #dadde0;
  align-items: center;

  h2 {
    // flex-grow: 1;
    margin : 0;
    font-family: sans-serif;
    font-size : 36px;
    color : #6f6c6c;;
    width : fit-content;
    letter-spacing: 1px;
  }

  .cmds {
    // flex-grow: 1;
    padding-left: 40px;
  }

  .route {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    flex-grow: 1;
    justify-content: flex-end;

    .btn {
      width: 44px;
      height: 44px;
      margin-right: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 2px 3px black;
      background-color: #f9f9f9;
      cursor: pointer;

      img {
        width: 25px;
      }
    }

  }
}